body {
	font-family: 'Karla', sans-serif;
}


#animIntro .section {
	width: 100%;
	padding-bottom: 10px;
	background-image: url('/img/anim/EAA/GuitarHero_04751_crop.jpg');
	background-size: cover;
	color: #eee;
	text-shadow: 1px 1px #111;
}

.animTitleOdd {
	background-color: #eee
}

.animTitleEven {
	background-color: #fff;
}


h6.animTasks {
	font-style: italic;
}

div.active {
	color: darkred;
	font-weight: bold;
	border: 2px solid darkred;
}

img {
	margin: 5px 0;
}
