
nav ul a,
nav .brand-logo {
  color: #ffe57f;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ffe57f;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    /*top: 40%;*/
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*TECHNOLOGY SECTION ---------------------*/
#technology {
  /*width: 100%;*/
  color: #ccc;
}

.techLogoDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.techLogo {
  margin: auto;
  width: 60px;
}

/*PROJECTS ------------------------*/

div.projDivider {
  height: 3px;
  padding: 0;
}

div.projTitle {
  margin: 10px 0 0 0;
}

div.projDescr {
  margin-bottom: 5px;
}

.techUsedDiv{
  margin: 0 0;
}
.techUsedIcon {
  margin: auto;
  height: 30px;
}



/*TRAIL TRACKER PROJECT - PARALLAX*/


#trailTracker h4 {
  color: #ffca28; /*amber lighten-1*/
  text-shadow: 1px 1px 0 #9e9d24;  /*lime darken-3*/
  background-color: rgba(115,114,27,0.4);
  border: 1px solid #ffca28;
  border-radius: 5px;
}

#trailTracker h5 {
  color: white;
  text-shadow: 1px 1px 0 #9e9d24;
}

#trailTracker p {
  color: white;
  text-shadow: 1px 1px 1px #3e2723; /*brown darken-4*/
}

#trailTracker a {
  padding-left: 0;
  padding-right: 0;
}

/*REBOUND PROJECT ----------------------------*/

#rebound h4 {
  color: rgb(0, 151, 156);
  background-color: rgba(255,255,255,0.4);
  text-shadow: 1px 1px 0 #000;
  border: 1px solid rgb(0, 151, 156);
  border-radius: 5px;

}

#rebound h5 {
  color: white;
  text-shadow: 1px 1px 0 rgb(0, 151, 156);
}

#rebound p {
  color: white;
  text-shadow: 1px 1px 1px rgb(0, 112, 116);
}

#rebound a {
  background-color: rgb(0, 151, 156);
  color: white;
}

/*TEAM TIMER PROJECT ---------------------------*/

#teamTimer h4 {
  color: #333;
  background-color: rgba(255,255,255,0.4);
  text-shadow: 1px 1px 0 white;
  border: 1px solid black;
  border-radius: 5px;

}

#teamTimer h5 {
  color: white;
  text-shadow: 1px 1px 0 grey;
}

#teamTimer p {
  color: white;
  text-shadow: 1px 1px 1px grey;
}

#teamTimer a.demo {
  background-color: white;
  color: grey;
  padding-left: 0;
  padding-right: 0;
}

#teamTimer a.git {
  background-color: grey;
  color: white;
  padding-left: 0;
  padding-right: 0;
}

/*PROJECT4 ------------------------------------*/

#project4 h4 {
  color: #333;
  background-color: rgba(255,255,255,0.4);
  text-shadow: 1px 1px 0 white;
  border: 1px solid black;
  border-radius: 5px;

}

#project4 h5 {
  color: white;
  text-shadow: 1px 1px 0 grey;
}

#project4 p {
  color: white;
  text-shadow: 1px 1px 1px grey;
}

#project4 a.demo {
  background-color: white;
  color: grey;
  padding-left: 0;
  padding-right: 0;
}

#project4 a.git {
  background-color: grey;
  color: white;
  padding-left: 0;
  padding-right: 0;
}

/*CREATIVE SECTION -----------------------------*/
#creative {
  color: #ccc;
  background: #222;
}

/*CONTACT SECTION ------------------------------*/
#contact {
  background-color: #111;
  color: #aaa;
}


