nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

#project2 {
  background-image: url("/img/testbg_utah1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    /*top: 40%;*/
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #project2 {
  background-image: url("/img/testbg_utah1.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*TECHNOLOGY SECTION*/
#technology {
  /*width: 100%;*/
  background: #ccc;
}

.techLogoDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.techLogo {
  margin: auto;
  width: 60px;
}

/*PROJECTS*/
.techUsedDiv{
  margin: 0 0;
}
.techUsedIcon {
  margin: auto;
  height: 30px;
}


/*TRAIL TRACKER PROJECT - PARALLAX*/

#trailTracker .section {
  margin: 0 1%;
  border: 1px rgba(255,255,255,.5) solid;
}

#trailTracker h4 {
    /*font-family: 'Chelsea Market', cursive;*/
    color: #ffca28; /*amber lighten-1*/
    text-shadow: 1px 1px 0 #9e9d24;  /*lime darken-3*/
}

#trailTracker div.projDescr {
  margin-bottom: 5px;
}

#trailTracker h5 {
    /*font-family: 'Harmattan', sans-serif;*/
    color: white; /*amber lighten-1*/
    text-shadow: 1px 1px 0 #9e9d24;  /*lime darken-3*/
}

#trailTracker p {
  /*text-align: center;*/
  /*font-family: 'Harmattan', sans-serif;*/
  color: white;
  text-shadow: 1px 1px 1px #3e2723; /*brown darken-4*/
  /*font-size: 10px;*/
}

/*$primary-color: #9e9d24; // lime darken-3
$secondary-color: #ffca28; //amber lighten-1
$tertiary-color: #3e2723; //brown darken-4

$primary-font: 'Chelsea Market', cursive;
$secondary-font: 'Harmattan', sans-serif;
$tertiary-font: 'Rancho', cursive;
*/

/*CREATIVE SECTION*/
#creative {
  background-color: #eee;
}

/*CONTACT SECTION*/
#contact {
  background-color: #222;
  color: #aaa;
}


