p {
	font-size: 1.1rem;
}

.nogBg {
	width: 100%;
	background-image: url('/img/nog/redFlakesBg.svg');
	background-size: cover;
	color: #ddd;
	margin: 0;
	padding: 20px 0;
}

.nogBg2 {
	width: 100%;
	background-image: url('/img/nog/greenFlakesBg.svg');
	background-size: cover;
	color: #ddd;
	margin: 0;
	padding: 20px 0;
}

.nogLogo {
	margin-top: 20px;
	width: 40%;
}

#nogIntro {
	padding-top: 0px;
}

#nogIntro .section {
	width: 100%;
	padding: 0;
}

#nogPhase1 .section {
	width: 100%;
	padding: 0;
}

#nogPhase1 a.gitBtn {
	background: white;
	color: #701626;
	padding-left: 0;
  padding-right: 0;
}

.nogTechUsedDiv {
	margin: 0;
  background-color: rgba(0,0,0,0.7);
  border-radius: 3px;
}

#nogPhase2 .section {
	width: 100%;
	padding: 0;
}

#nogPhase2 h6 {
	font-size: 1.1rem;
	font-style: italic;
	text-decoration: underline;
}

.boldText {
	font-size: 1.2rem;
	font-weight: bold;
	text-shadow: 2px 2px 0 rgb(25, 91, 22);
}

.nogThumbImg {
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8);
}

.nogThumbCaption {
	font-size: 0.8rem;
}

