p {
	font-size: 1.1rem;
}

.arduinoBg {
	background-color: rgb(0, 151, 156);
	color: #ddd;
	margin: 0;
	padding: 20px 0;
}

#reboundIntro .section {
	width: 100%;
	padding: 0;
}

#player2 .section {
	width: 100%;
	padding: 0;
}

#reboundIntro h4 {
	text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}

.reboundSubtitle {
	color: rgba(0,0,0,0.5);
}
