p {
	font-size: 1.1rem;
}

.arduinoBg {
	background-color: rgb(0, 151, 156);
	color: #ddd;
	margin: 0;
	padding: 20px 0;
}

#reboundIntro .section {
	width: 100%;
	padding: 0;
}

.no-btm-margin {
	margin-bottom: 0;
}

.no-top-margin {
	margin-top: 0;
}

.linkBtn {
	background: rgba(255,255,255,.2);
	color: rgb(0, 151, 156);
	padding-left: 0;
  padding-right: 0;
}
.italicText {
	font-style: italic;
}

#player2 .section {
	width: 100%;
	padding: 0;
}

#footer {
  background-color: #111;
  /*color: #aaa;*/
}

#footer p {
	margin: 0;
  color: #aaa;

}
