p {
	font-size: 1.1rem;
}

.arduinoBg {
	background-color: rgb(0, 151, 156);
	color: #ddd;
	margin: 0;
	padding: 20px 0;
}

#reboundIntro .section {
	width: 100%;
	padding: 0;
}

.linkBtn {
	background: rgba(255,255,255,.2);
	color: rgb(0, 151, 156);
	padding-left: 0;
  padding-right: 0;
}

#player2 .section {
	width: 100%;
	padding: 0;
}


