.timerBg {
	/*background: linear-gradient(rgb(255,238,56), rgb(233,67,57));*/
	background: rgb(186, 214, 86);
	margin: 0;
	padding: 0 0 20px 0;
}

#timerIntro .section {
	width: 100%;
	padding: 0;
}

p.imgDescr {
	line-height: 1.5rem;
}

.adminPic {
	border: 1px solid #555;
}

div.top-border {
	border-top: 1px solid #555;
}

.sectDivider {
	height: 10px;
	margin-bottom: 5px;
}

#timerIntro a.timerGit {
	background-color: rgb(111,95,169);
	/*color: rgb(111,95,169);*/
	color: rgb(186, 214, 86);
	padding-left: 0;
  padding-right: 0;
}

#timerIntro a.timerOrigGit {
	/*background-color: rgb(255,238,56);*/
	background-color: rgb(255,238,56);
	color: rgb(233,67,57);
  padding-left: 0;
  padding-right: 0;
}

.aeroLogoDiv {
	margin-top: 1em;
}

.timerSubtitle {
	/*color: rgb(233, 67, 57);*/
	color: rgb(11,22,59);
}

.timerTechUsedDiv {
	margin: 0;
  background-color: rgba(0,0,0,0.7);
  border-radius: 3px;
}
