.trailBg {
	background: #ffd54f;
	margin: 0;
	padding: 0 0 20px 0;
}

#trailIntro .section {
	width: 100%;
	padding: 0;
}

.trailImg {
	box-shadow: 5px 5px 5px rgba(0,0,0,.25);
	margin: 15px 0;
}

p.caveat {
	font-style: italic;
	font-size: 0.8rem;
	line-height: 1rem;
}

div.top-border {
	border-top: 1px solid #9e9d24;
}

.sectDivider {
	height: 10px;
	margin-bottom: 5px;
}

#trailDemo {
	margin-top: 10px;
}

#trailIntro a.demoBtn {
	background: #9e9d24;
	color: #fff;
	padding-left: 0;
  padding-right: 0;
}

#trailIntro a.origAppBtn {
	/*background: #ffca28;*/
	background: #fff;
	color: #9e9d24;
	padding-left: 0;
  padding-right: 0;
  border-color: #9e9d24;
}

.trailSubtitle {
	color: #9e9d24;
}
