#trailIntro {

}

.trailBg {
	/*background: yellow;*/
}

#trailIntro .section {
	width: 100%;
	padding: 0;
}

.trailTitle {
	/*color: red;*/
}

.testContainer {
	position: relative;
}

.trailImg {
	box-shadow: 5px 5px 5px rgba(0,0,0,.25);
}

#target-1 {
	top: 40%;
	left: 32.8%;
}

#target-2 {
	top: 15%;
	left: 59%;
}

#target-3 {
	top: 54%;
	left: 61.5%;
}

#target-4 {
	top: 15%;
	left: 59%;
}

.targetAnim {
	position: absolute;
	z-index: 2;
	border-radius: 50%;
	border: red solid 1px;
	background: transparent;
	width: 25px;
	height: 25px;
	animation: target 0.5s infinite;
	animation-direction: alternate;
}

.targetAnim:hover {
	border: green solid 1px;
	background: rgba(255,255,255,0.75);
	cursor: pointer;
}

@keyframes target {
	from {opacity: 0.5;}
  to {opacity: 0.05; transform: scale(2)}
}

